* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
}

:root {
    --main-bg: rgba(19, 20, 23, 0.9);
    --button-bg: #2D9CDB;

}

.calendar__day_active_start:active{
    width: 36px;
    height: 36px;
    border: 1px solid rgba(19, 20, 23, 0.1);
    border-radius: 18px;
    background-color: var(--button-bg);
}

.calendar__day_start{
    
}

.calendar__day_start_end{
    
}


.container {
    max-width: 996px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    min-width: 320px;
    height: 284px;
    background: var(--main-bg);
    border-radius: 6px;
    padding: 21px 14px 18px 14px;
}

.calendar__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.calendar__body {
 
}

.calendar__body-line {

}

.calendar__day {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right:  11px;
}


.calendar__btn {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.arrow {
    width: 8px;
    height: 12px;
    background-color: rgba(19, 20, 23, 0.9);
}

.arrow-right {
    transform: rotate(180deg);
}


.calendar__title {
    font-size: 12px;
    color: #fff;
    line-height: 14.06px;
    text-transform: uppercase;
    margin-bottom: 32px;
    text-align: center;
}


